html{
    background-color: rgb(253, 253, 177);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0px;
    background-image: url("images/1-big-viburnum.jpg");
}

.header{
    border: 3px solid rgb(56, 125, 3);
    border-top-style: none;
    border-bottom-style: none;
    background-color: rgba(249, 249, 246, 0.6);
    padding: 10px;
}

.h1{
    margin-bottom: 20px;
    margin-top: 20px;
}

.list{
    margin-bottom: 20px;
}

.head{
    margin-bottom: 20px;
}
.wrapper{
    max-width:700px;
    margin:auto;
}